/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap'); */

.wholeCont {
  position: relative;
  width: 80vh;
  height: 7vh;
  /* font-family: 'Open Sans', sans-serif; */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  margin: 0;
  padding: 0;
  border: 1px solid 1px solid rgb(219, 219, 219);
  border-radius: 25px;
}

.srchInput {
  width: 90%;
  height: 100%;
  text-indent: 1vh;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 3vh;
}

.srchIconCont {
  position: absolute;
  height: 90%;
  width: auto;
  aspect-ratio: 1/1;
  right: 2.5px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(219, 219, 219);
  cursor: pointer;
}

.srchIconCont:active {
  opacity: 0.5;
}

.srchIcon {
  height: 80%;
  width: auto;
}

.srchDD {
  position: absolute;
  width: 90%;
  min-height: 0vh;
  max-height: 30vh;
  border: 1px solid rgb(219, 219, 219);
  left: 3vh;
  top: 7vh;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: transparent;
  border-radius: 0px 0px 12px 12px;
}

.ddList {
  width: 100%;
  height: 5vh;
  margin: 0;
  padding: 0;
  border-radius: 12px;
  text-indent: 1vh;
  color: black;
  white-space: none;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.ddList:hover {
  background-color: rgb(206, 206, 206);
}